.html, body{
    margin: 0;
}
.login_page{
    background: linear-gradient(120deg, #12846C, #17B844, #0A2B34);
    height: 100vh;
    position: fixed;
    width: 100%;

}
.app_name {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome,
.app {
    justify-content: center;
}

.login_container{
    height: calc(100vh - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_components{
    margin-bottom: 350px;
    width: 500px;
    text-align: center; 
    padding: 1%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.3);
}
.username{
    margin-bottom: 5%;
}
.password{
    margin-bottom: 5%;
}

.username_input, .password_input{
    height: 40px;
    width: 80%;
    border-radius: 5px;
    font-size: large;
}
.submit_button{
    width: 50%;
    height: 40px;
    font-size: large;
    margin-bottom: 5%
}
.signup_tab{
    display: flex;
    justify-content: center;

}
.signup_button{
    margin-left: 10px;
}
.signup_button:hover{
    text-decoration: underline;

}

